<nav class="pagination spacer">
    {{#if prev}}
        <a class="pagination__new btn" href="{{page_url prev}}">Newer Posts</a>
    {{/if}}
    {{#if next}}
        <a class="pagination__old btn" href="{{page_url next}}">Older Posts</a>
    {{/if}}
</nav>