// ===================================
// Colours
// ===================================

$body: #636467;
$white: #FDFDFD;
$offWhite: #F4F4F4;
$black: #1D1D1D;
$red: #E05743;
$lightRed: #EEA196;
$darkRed: #E05014;
$gray: #EEE;
$lightGray: #D7D7D7;
$lighterGray: #F7F7F7;
$darkBlue: #2f3641;

// ===================================
// Fonts
// ===================================

$baseFont: 'Droid Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;