// =========================================================================
// Modules - Reusable Modular Parts
// =========================================================================

// =========================================================================
// Pagination
// =========================================================================

.pagination {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	&__old,
	&__new {
		display: block;
		@include rem(font-size, 2.8rem);
	}
	@include breakpoint(medium) {
		width: 90%;
	}
}
