// =========================================================================
// Variables
// =========================================================================

// =========================================================================
// Colours
// =========================================================================

$white: #FDFDFD;
$black: #222;
$color__primary: #D4291F;
$color__gray: #DFDFDF;
$color__gray--dark: #3D464D;

// Social
$facebook: #3B5999;
$twitter: #55ACEE;
$google: #CB2027;

// =========================================================================
// Typeface Rules
// =========================================================================

$baseFont: 'Droid Serif', Times, "Times New Roman", serif;
$titleFont: 'Droid Sans', Helvetica, Arial, Sans-serif;
$sanSerif: Futura, "Trebuchet MS", Arial, sans-serif;
